@font-face {
  font-family: Dosis Medium;
  font-weight: 400;
  src: url(/assets/fonts/dosis/Dosis-Medium.ttf);
}
@font-face {
  font-family: Dosis Regular;
  font-weight: 400;
  src: url(/assets/fonts/dosis/Dosis-Regular.ttf);
}
@font-face {
  font-family: Dosis Bold;
  font-weight: 700;
  src: url(/assets/fonts/dosis/Dosis-Bold.ttf);
}
@font-face {
  font-family: SFPro Medium;
  font-weight: 400;
  src: url(/assets/fonts/sfpro/SFPRODISPLAYMEDIUM.OTF);
}
@font-face {
  font-family: SFPro Regular;
  font-weight: 400;
  src: url(/assets/fonts/sfpro/SFPRODISPLAYREGULAR.OTF);
}
@font-face {
  font-family: SFPro Bold;
  font-weight: 700;
  src: url(/assets/fonts/sfpro/SFPRODISPLAYBOLD.OTF);
}